* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Rulesets to add in a new font-family - roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
 
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    font-size: 20px;
}
input{
    margin-bottom: 7px;
    height: 30px;
}
img:hover{
    cursor: pointer;
}
.email, .email2, .password{
width: 350px;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    width: 500px;
    background-color: white;
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 100px;
    align-items: center;
}
.btn-signup{
    margin-top: 15px;
    width: 70px;
    margin-bottom: 15px;
}
