* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rulesets to add in a new font-family - roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-top: 80px;
    background-color: black;
    line-height: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    z-index: 5;
}

header a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
}

header a:hover {
    border-bottom-color: white;
}

header a:active {
    color: darkorange;
}

.order-confirm {
    position: absolute;
    top: 0;
    right: 5%;
    margin-top: 80px;
    z-index: 2;
    background-color: black;
    padding: 1%;
    border-bottom-left-radius: 8px;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center;
    cursor: pointer;
    transition: all 0.2s;
}

.top-card {
    width: 100%;
    color: white;
    background-position: 30% 70%;
    padding: 5% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/restaurant.jpg');
    background-size: cover;    
}

.main-content .top-card h1 {
    width: fit-content;
    padding: 2%;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    margin: 0;
    background-color: black;
    border: 2px solid silver;
    border-left: none;
    min-width: 0;
}

.main-content {
    width: 90%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 5%;
    min-height: 100vh;
}

.main-content h1, .main-content h2 {
    margin: 3% 0 0 3.5%;
    width: 50%;
    min-width: 160px;
    border-bottom: 1px solid black;
}

.main-content p {
    margin: 2% 3.5% 0;
}

.menu-highlights {
    display: flex;
    margin: 1% 3.5% 0;
}

.highlight-box {
   height: auto;
   width: 25%;
}

.menu-highlights img {
    border: 2px solid black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-content a {
    color: black;
}

.main-content a:active {
    color: darkorange;
}

.view-menu {
    margin: 1.5% 0 0 3.5%;
}

.logo {
    display: flex;
    align-items: center;
    width: 30%;
    gap: 3%;
}

.logo-img {
    width: 14%;
    min-width: 32px;
    border-radius: 6px;
    background-color: white;
}

.logo-link {
    cursor: pointer;
}

button.get-started, button.order-proceed-btn {
    padding: 20px;
    margin: 1.5% auto;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    max-width: 26%;
    min-width: 120px;
    cursor: pointer;
}

button.get-started:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 10px black;
}

button.get-started:active {
    box-shadow: none;
}

p.get-started {
    margin-top: 0;
}

.order-total {
    width: fit-content;
    margin: 2% 0 2% 3.5%;
}

.order-total td {
    border: 2px solid black;
    padding: 0.5rem;
}

button.order-proceed-btn {
    background-color: black;
    color: white;
    box-shadow: none;
    cursor: pointer;
    border: none;
}

button.order-proceed-btn.unavailable {
    background-color: gray;
    color: lightgrey;
    border: none;
}

button.order-proceed-btn.unavailable:hover {
    cursor: not-allowed;
}

.order-page ul {
    margin: 1% 10%;
}

.order-popup {
    width: 100%;
    position: absolute;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: 2;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    margin-top: 80px;
}

.order-page {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 3% 0;
}

.hidden {
    display: none;
}

.order-list {
    width: 100%;
    height: 60%;
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid black;
    overflow: scroll;
    margin-top: 8%;
}

.order-right, .order-left {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.quantity-btn-add, .quantity-btn-remove {
    cursor: pointer;
}

footer {
    background-color: black;
    color: white;
    font-size: small;
    padding: 2%;
    width: 100%;
    margin-top: auto;
    text-align: center;
}

footer ul {
    padding-top: 2%;
}

footer ul li {
    display: inline;
    margin: 0 5%;
}

footer a {
    color: white;
}

div.login-page {
    width: 70%;
}

.login-form form {
    width: 30%;
    min-width: 320px;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

.login-form input {
    margin: 4% 0;
    padding: 1%;
}

.login-form input[type="text"]:focus {
    box-shadow: 0 0 8px darkorange;
    outline: 0;
}

input[type="checkbox"] {
    accent-color: lightgray;
}

.login-form label {
    font-size: small;
}

.login-form input[type="submit"] {
    border-radius: 10px;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    padding: 20px;
}

.menu-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    border: 1px solid silver;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menu-category {
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    padding: 20px;
}

.menu-item:hover {
    transform: scale(1.05);
}

.menu-item img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.menu-item-info {
    padding: 10px;
    flex-grow: 1;
}

.menu-item h3 {
    margin: 0 0 2%;
    font-size: 1.5em;
}

.menu-item p {
    margin: 0;
    color: #666;
}

.menu-item-price {
    padding: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-to-cart-btn {
    padding: 2%;
    border-radius: 8px;
    border: 1px solid gray;
    background-color: white;
    transition: all 0.2s;  
    cursor: pointer;
}

.add-to-cart-btn:hover {
    box-shadow: 0 0 10px black;
}

.add-to-cart-btn:active {
    box-shadow: none;
    background-color: #f8f8f8;
}

@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}