* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Rulesets to add in a new font-family - roboto-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/roboto-v30-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }
  
  /* roboto-regular - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
         url('fonts/roboto-v30-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
  }

body {
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-top: 80px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../images/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    line-height: 1.6rem;
}
  
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    height: 80px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
}

header a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.2s;
}

header a:hover {
    border-bottom-color: white;
}

header a:active {
    color: darkorange;
}

header .logo {
    padding-right: 8%;
}

.top-card {
    width: 100%;
    color: white;
    background-position: 30% 70%;
    padding: 5% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../images/restaurant.jpg');
    background-size: cover;    
}

.main-content .top-card h1 {
    width: fit-content;
    padding: 2%;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    background-color: black;
}

.main-content {
    width: 90%;
    margin: 0 auto;
    background-color: #f8f8f8;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-content h1, .main-content h2 {
    margin: 3% 0 0 3.5%;
    width: 50%;
    min-width: 320px;
    border-bottom: 1px solid black;
}

.main-content p {
    margin: 2% 3.5% 0;
}

.menu-highlights {
    display: flex;
    margin: 0 2%;
}

@media screen and (max-width: 780px) {
    .menu-highlights {
        flex-wrap: wrap;
    }

    .menu-highlights figure img {
        width: 80%;
    }
}

.menu-highlights img {
    border: 3px solid black;
    width: 100%;  
}

.menu-highlights figure {
    margin-top: 2%;
    width: fit-content;
    text-align: center;
    overflow: hidden;
}

.main-content a {
    color: black;
}

.main-content a:active {
    color: darkorange;
}

.view-menu {
    margin: 1.5% 0 0 3.5%;
}

button.get-started, button.order-proceed-btn {
    padding: 20px;
    margin: 1.5% auto;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 1px 1px gray;
    max-width: 26%;
    min-width: 120px;
}

button.get-started:hover {
    background-color: black;
    color: white;
}

.main-content button:active {
    box-shadow: none;
}

p.get-started {
    margin-top: 0;
}

.order-total {
    width: fit-content;
    margin: 2% 0 2% 3.5%;
}

.order-total td {
    border: 2px solid black;
    padding: 0.5rem;
}

button.order-proceed-btn {
    background-color: gray;
    color: lightgrey;
    margin-left: 3.5%;
    margin-top: 0;
    box-shadow: none;
    border: 2px solid transparent;
}

button.order-proceed-btn:hover {
    cursor: not-allowed;
}

.order-page ul {
    margin: 2% 0 2% 8.5%;
}